
  <ng-container *ngIf="wEingService.currentProductsInBuchungSig()?.length === 0; else content">
    <p>No data available</p>
  </ng-container>

  <ng-template #content   >
    <table mat-table [dataSource]="wEingService.currentProductsInBuchungSig()" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="pname">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.produkt[0]?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="menge">
        <th mat-header-cell *matHeaderCellDef> Menge </th>
        <td mat-cell *matCellDef="let element"> {{element.menge}} </td>
      </ng-container>

      <ng-container matColumnDef="mwst">
        <th mat-header-cell *matHeaderCellDef> MWST </th>
        <td mat-cell *matCellDef="let element"> {{element.mwst}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editProduct(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteProductFromBuchung(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </ng-template>
  <span *ngIf="act$ | async"></span>
