<div *ngIf="errorService.message() && errorService.message().length > 5">
<app-error></app-error>
</div>
<<mat-card>
    <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        Text content
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="saveRefund()">Action1</button>

    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>
