<div *ngIf="errorService.message() && errorService.message().length > 2">
  <app-error></app-error>
</div>
<div class="content" >
  <div class="button">
    <button mat-raised-button color="primary" (click)="addAktion()"><mat-icon class="mat-18">receipt_long</mat-icon> Neue Aktion Code</button>
  </div>
  <div class="aktions">
    <form [formGroup]="aktionForm">
      <div formArrayName="aktions">
        <div class="row" *ngFor="let item of aktions.controls; let i = index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Promotion Code</mat-label>
            <input type="text" matInput name="aktion_key" id="aktion_key" formControlName="aktion_key">
          </mat-form-field>
          <div>
            <div></div>
           <mat-form-field>
            <mat-label>Products in: {{ item && item.get('produkt') ? item.get('produkt')?.getRawValue().length : 0 }}</mat-label>
            <mat-select placeholder="Default are all Products" (selectionChange)="selectfromKategorie(i, item, $event)" multiple="true">
                <mat-option *ngFor="let katItem of katgorySig()" [value]="katItem"> {{katItem.name +' ('+katItem.products.length+')'}}</mat-option>
            </mat-select>
           </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Ab: (Empty für immer)</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startdatum">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bis: (Empty für immer)</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="enddatum">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rabat in (%)</mat-label>
            <input matInput type="number" name="rabattProzent" id="rabattProzent" formControlName="rabattProzent">
          </mat-form-field>
          <div class="save">
            <button mat-icon-button (click)="save(item)" color="primary" id="save">
                <mat-icon class="mat-18">save</mat-icon>
            </button>
          </div>
          <div class="delete">
            <button mat-icon-button (click)="delete(i, item.value)" color="warn" id="del">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

