
.color {
  margin-bottom: .6rem;

}
#farbe {
  background-color: green;
  color: white;
  border: 1px solid rgb(128, 77, 30);
  border-radius: .2rem;
  padding: .1rem;
  width: 100px;
}

#farbe option {
  background-color:  rgb(128, 77, 30);
  color: white;
}
