<div class="content">
  <div class="header">
    <h1 *ngIf="form.get('sku')?.getRawValue().length > 2">Variations bearbeiten</h1>
    <h1 *ngIf="form.get('sku')?.getRawValue().length < 2">Neue Variations hinzufügen</h1>
  </div>

  <form [formGroup]="form" class="form">
    <div class="row">
      <mat-form-field class="form-field">
        <mat-label>Variations Name</mat-label>
        <input matInput formControlName="variations_name" required autocomplete="off">
        <mat-error *ngIf="form.get('variations_name')?.hasError('required')">Variations Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" required (keyup)="updateVariationSku()" autocomplete="off">
        <mat-error *ngIf="form.get('value')?.hasError('required')">Value is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Hint</mat-label>
      <input matInput formControlName="hint" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Sku</mat-label>
      <input matInput formControlName="sku" required autocomplete="off">
      <mat-error *ngIf="form.get('sku')?.hasError('required')">Sku is required</mat-error>
    </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Unit</mat-label>
      <input matInput formControlName="unit" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" required autocomplete="off">
      <mat-error *ngIf="form.get('image')?.hasError('required')">Image is required</mat-error>
    </mat-form-field>
    </div>
  </form>
  <div class="acction">
  <button mat-stroked-button color="primary" (click)="abort()">Abbrechen</button><button mat-stroked-button color="accent" (click)="save()">Speichern</button>
  </div>
</div>
