<div *ngIf="errorServeice.message() && errorServeice.message().length > 2">
  <app-error></app-error>
</div>
<div class="content">
  <form [formGroup]="companyForm" *ngIf="act$ | async">
    <div class="row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="company_name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Postleitzahl</mat-label>
        <input matInput formControlName="postleitzahl">
      </mat-form-field>

    </div>
    <div class="row">
      <div class="mat-form-field">
        <mat-label>Is Klein Unternehmen</mat-label>
        <mat-checkbox formControlName="isKleinUnternehmen"></mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>Umsatzsteueridentifikationsnr.</mat-label>
        <input matInput formControlName="ustNr">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fax</mat-label>
        <input matInput formControlName="fax">
      </mat-form-field>
      <div class="mat-form-field">
        <mat-label>Urlop aktiv ?</mat-label>
        <mat-checkbox (change)="setUrlop()"></mat-checkbox>
      </div>
    </div>
    <div class="textrow">
      <mat-form-field>
        <mat-label>EU-Kommission Hinweis (HTML)</mat-label>
        <textarea matInput formControlName="eu_komm_hinweis"></textarea>
      </mat-form-field>
    </div>
    <div class="textrow">
      <mat-form-field>
        <mat-label>AGB (HTML)</mat-label>
        <textarea matInput formControlName="agb"></textarea>
      </mat-form-field>
    </div>
    <div class="textrow">
      <mat-form-field>
        <mat-label>Datenschutzerklärung (HTML)</mat-label>
        <textarea matInput formControlName="daten_schutzt"></textarea>
      </mat-form-field>
    </div>
    <div class="textrow">
      <mat-form-field>
        <mat-label>Cookie Info (HTML)</mat-label>
        <textarea matInput formControlName="cookie_info"></textarea>
      </mat-form-field>
    </div>
    <div class="act">
      <button mat-raised-button color="primary" (click)="save()">Speichern</button>
    </div>
  </form>
</div>
