<div class="con">
  <h2>Wir sind im Urlaub</h2>

<p>Liebe Kunden,</p>

<p>Wir möchten Sie darüber informieren, dass wir uns vom  <b>{{urlop.urlop_from | date: 'dd/MM/YYYY'}}</b> bis <b>{{urlop.urlop_to | date: 'dd/MM/YYYY'}}</b> im Urlaub befinden. Während dieser Zeit werden leider keine Sendungen bearbeitet.</p>

<p>Alle Bestellungen, die in diesem Zeitraum eingehen, werden unmittelbar nach unserer Rückkehr bearbeitet und versendet. Wir bitten um Ihr Verständnis und bedanken uns für Ihr Vertrauen.</p>

<p>Viele Grüße,</p>

<p>Ihr Team Fischfang-Profi</p>
</div>
