<div class="container" *ngIf="act$ | async">
  <!-- card.component.html -->
<mat-table [dataSource]="products()">
  <!-- ID Column -->
  <ng-container matColumnDef="sku">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.variations[0].sku }}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index">
      <div class="colorItem" >
          <span>{{product.variations[0].value}} {{product.variations[0].unit }}</span>
          <span>  Menge: {{ product.variations[0].quanity }}</span>
          <button mat-icon-button class="mat-icon-button" color="primary" (click)="decreaseQuantity(i)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button class="mat-icon-button" color="warn" *ngIf="!doWeHaveEnough(i)">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-icon-button class="mat-icon-button" color="primary" (click)="increaseQuantity(i)" *ngIf="doWeHaveEnough(i)">
            <mat-icon>add</mat-icon>
          </button>

      </div>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Total Menge Column -->
  <ng-container matColumnDef="toTmenge">
    <mat-header-cell *matHeaderCellDef>Total Menge</mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index"> {{ product.variations[0].quanity}}</mat-cell>
    <mat-footer-cell *matFooterCellDef><span class="footer" id="totmenge">Total Menge: {{getTotalCount()}}</span> </mat-footer-cell>
  </ng-container>

  <!-- Price per St Column -->
  <ng-container matColumnDef="priceSt">
    <mat-header-cell *matHeaderCellDef>Price per St</mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index">{{ product.variations[0].price }} &euro;</mat-cell>
    <mat-footer-cell *matFooterCellDef><span *ngIf="company.isKleinUnternehmen !== 1">Netto: {{getTotalPriceNetto()}} &euro; </span></mat-footer-cell>
  </ng-container>

  <!-- MWST Column -->
  <ng-container matColumnDef="mwst" *ngIf="company.isKleinUnternehmen !== 1">
    <mat-header-cell *matHeaderCellDef>MwSt.</mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index">{{ getProduktMwst(i) }} &euro;</mat-cell>
    <mat-footer-cell *matFooterCellDef><span>Total MwSt.: {{getTotalMwst()}}  &euro;</span></mat-footer-cell>
  </ng-container>

  <!-- Total Price Column -->
  <ng-container matColumnDef="totalPrice">
    <mat-header-cell *matHeaderCellDef>Total Price</mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index">{{ getTotalPrice(i) }}  &euro;</mat-cell>
    <mat-footer-cell *matFooterCellDef><span>Total: {{getTotalPriceWithShipping()}} &euro;</span></mat-footer-cell>
  </ng-container>

  <!-- Remove Column -->
  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let product; let i = index">
      <button mat-icon-button (click)="removeItem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: columns"></mat-row>
  <mat-footer-row *matFooterRowDef="columns"></mat-footer-row>
</mat-table>
</div>
<div class="versand">
  <div>Versandkosten: </div>
  <mat-form-field>
    <mat-select placeholder="Versand art" (selectionChange)="setVersandKosten($event.value)">
      <mat-option *ngFor="let item of helper.versandAndKost()" [value]="item">{{item.shipping_price === 0 ? item.shipping_name : item.shipping_name + ' : ' +getShippingCost(item.shipping_price)}}</mat-option>


  </mat-select>
  </mat-form-field>
</div>
<div>
  <app-shipping-address></app-shipping-address>
</div>

