mat-footer-cell {
  font-size: .8rem;
}
mat-header-cell {
  font-size: .9rem;
}
mat-cell {
  font-size: .8rem;
}
.mat-column-name,
.mat-column-color {
  flex: 1 1 25%;
}

.mat-column-totalPrice,
.mat-column-toTmenge,
.mat-column-mwst,
.mat-column-priceSt,
.mat-column-artid {
  flex: 1 1 8%;
}
@media only screen and (max-width: 600px) {
  .mat-column-toTmenge,
  .mat-column-mwst,
  .mat-column-priceSt {
    display: none;
  }

  .mat-column-name {
    flex: 1 1 15%;
  }
}
.colorItem {
  display: flex;
  flex-direction: column;
 .item {
  display: flex;
  align-items: center;
  height: 2rem;
  gap: .1rem
 }
 .span {
  width: 60%;

 }
 .mat-icon-button {
  scale: .7;
 }
 .mat-column-remove {
  display: flex;
  justify-content: flex-start;
 }
}
.butAct {
  display: flex;
  justify-content: center;
  gap: .5rem;

 }
