.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-bottom: .5rem;
  }
}
.h1 {
  font-size: small;
}

.act {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  padding: .3rem;
}

.content-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 90%;
  margin: .5rem .5rem;
}
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.toolbar {
  border-radius: .5rem;
}
.itemdesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(128, 77, 30);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: .3rem;
}

.itempro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.left {
  width: 74%;

}
@media screen and (min-width: 601px) {
  .right {
    border-left: 1px solid rgb(128, 77, 30);
  }
  
  .image {
    min-width: 100%;
    min-height: 450px;
  }
}

.right {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: .5rem .2rem;

  border-radius: .3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.desc-title {
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  margin-bottom: .4rem;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: .5rem .5rem;
  padding-right: .5rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  margin-bottom: .4rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.farbe {
  margin-top: .5rem;
  margin-left: .5rem;
}

.desc {
  width: 90%;
  padding: .5rem .5rem;
}

.item-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .4rem;
  margin: 0 .4rem;
  mat-form-field {
    width: 100%;
  }
  button {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .itempro {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }
}