<div *ngIf="errService.message() && errService.message().length > 2">
  <app-error></app-error>
</div>
<div class="content">
<div class="button">
  <button mat-raised-button color="primary" (click)="newOrEditGoodsReceipt()" >Neue Waren Buchung</button>
</div>
<div>
  <mat-table [dataSource]="weingangSig()">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="liferant">
      <mat-header-cell *matHeaderCellDef>Liferant</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lieferant.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rechnung">
      <mat-header-cell *matHeaderCellDef>Rechnung</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.rechnung}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lieferscheinNr">
      <mat-header-cell *matHeaderCellDef>Lieferschein Nr.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lieferscheinNr}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="empfangsdatum">
      <mat-header-cell *matHeaderCellDef>Empfangsdatum</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.empfangsdatum | date: 'dd/MM/YYYY'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datenEingabe">
      <mat-header-cell *matHeaderCellDef>Buchungs Datum</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.datenEingabe | date: 'dd/MM/YYYY HH:mm:ss'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gebucht">
      <mat-header-cell *matHeaderCellDef>Gebucht</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.gebucht === 0 ? 'nein' : 'ja'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bearbeiten">
      <mat-header-cell *matHeaderCellDef>Bearbeiten</mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button color="accent" (click)="newOrEditGoodsReceipt(element)"><mat-icon>edit</mat-icon></button></mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Entfernen</mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-button color="warn" (click)="deleteGoodsReceipt(element.id)"><mat-icon>delete</mat-icon></button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <span *ngIf="act$ | async"></span>
</div>

</div>
