<div *ngIf="error.message() && error.message().length > 3">
  {{error.message()}}
</div>

<div class="content" *ngIf="orders() as orders">
  <app-order-selector></app-order-selector>
  <table mat-table [dataSource]="orders">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id:</th>
      <td mat-cell *matCellDef="let item">
  {{item.id}}
       </td>
    </ng-container>
    <ng-container matColumnDef="inovice">
      <th mat-header-cell *matHeaderCellDef>Rechnung:</th>
      <td mat-cell *matCellDef="let item">
        <button mat-stroked-button (click)="openInovice(item)" color="accent">
            <mat-icon>print</mat-icon>
            <span>Rechnung</span>
        </button>
       </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Bestellungstatus</th>
      <td mat-cell *matCellDef="let item">{{item.status}}</td>
    </ng-container>
    <ng-container matColumnDef="vert">
      <th mat-header-cell *matHeaderCellDef>Wert</th>
      <td mat-cell *matCellDef="let item"> {{item.gesamtwert}}</td>
    </ng-container>
    <ng-container matColumnDef="bestDate">
      <th mat-header-cell *matHeaderCellDef>Bestellung Eingegangen</th>
      <td mat-cell *matCellDef="let item"> {{item.bestelldatum.split('T')[0]}}</td>
    </ng-container>
    <ng-container matColumnDef="rausDate">
      <th mat-header-cell *matHeaderCellDef>Bestellung Rausgegangen</th>
      <td mat-cell *matCellDef="let item"> {{item.versand_datum?.split('T')[0]}}</td>
    </ng-container>
    <ng-container matColumnDef="bestellStatus">
      <th mat-header-cell *matHeaderCellDef>Versandstatus</th>
      <td mat-cell *matCellDef="let item">{{item.bestellungstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="versArt">
      <th mat-header-cell *matHeaderCellDef>Versand Art:</th>
      <td mat-cell *matCellDef="let item">{{item.versandart}}</td>
    </ng-container>
    <ng-container matColumnDef="versandnr">
      <th mat-header-cell *matHeaderCellDef>Versand Nr:</th>
      <td mat-cell *matCellDef="let item">{{item.varsandnr}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

</div>


