<div class="content-prod">
  <div *ngIf="errMessage?.message && errMessage.message().length > 2">
    <app-error></app-error>
  </div>
  <div class="h2">
    <h2>{{ data ? 'Produkt bearbeiten' : 'Produkt hinzufügen' }}</h2>
    <div class="close">
      <button mat-icon-button (click)="close()" color="warn">
          <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="wEingangProduct" >
    <div class="row">
      <mat-form-field>
        <mat-label>Produkt</mat-label>
        <input matInput formControlName="produkt" placeholder="Produkt">
      </mat-form-field>
    </div>
    <div formArrayName="product_variation">
      <div *ngFor="let item of product_variation.controls; let i = index">
        <div [formGroup]="getItem(item)" class="row">
          <mat-form-field>
            <mat-label>Sku</mat-label>
            <input matInput type="text" formControlName="sku" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Menge: </mat-label>
            <input matInput type="number" formControlName="quanity" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Preis</mat-label>
            <input matInput type="number" formControlName="price" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mwst</mat-label>
            <input matInput type="number" formControlName="mwst" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="action">
  <button mat-button [disabled]="!wEingangProduct.valid" (click)="save()">Save<span *ngIf="act$ | async"></span></button>
</div>



