<mat-tab-group>
  <mat-tab label="Ebay Listings">
    <div class="content">
    <div class="err" *ngIf="errorService.message() && errorService.message().length > 3">
   <app-error></app-error>
    </div>
      <div class="selector">
        <div class="items">
          Items pro Site:
        </div>
        <div class="items">
            <mat-checkbox (change)="showAllProduktsInGroup()" value="" color="primary" checked>Zeigt nur ein Artikel aus Grupe</mat-checkbox>
        </div>
        <div class="items">
          <mat-form-field>
            <mat-label>Select Item Menge</mat-label>
            <mat-select (selectionChange)="update($event.value)" [value]="itemsProSite">
              <mat-option [value]="25">25</mat-option>
              <mat-option [value]="50">50</mat-option>
              <mat-option [value]="100">100</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="itemsSig$ | async as item">
        <table mat-table [dataSource]="item.inventoryItems">
          <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>Sku</th>
            <td mat-cell *matCellDef="let item">{{item.sku}}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let item">{{item.product.title}}</td>
          </ng-container>
          <ng-container matColumnDef="inshop">
            <th mat-header-cell *matHeaderCellDef>Artikel In Shop ?</th>
            <td mat-cell *matCellDef="let item">
              <span *ngIf="item.inebay">{{item.inebay}}</span>
            <button mat-raised-button *ngIf="!item.inebay" (click)="addItemToShop(item)">Fügen Sie den Artikel zu</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <div class="actions">
          <button mat-stroked-button (click)="goBack()" *ngIf="item.prev"><</button>
          <button mat-stroked-button (click)="goNext()" *ngIf="item.next">></button>
        </div>
      </div>
    </div>
  </mat-tab>
    <mat-tab label="Import Ebay Listing">
      <div class="content">
      <ng-template matTabContent>
        <app-import-ebay-listings></app-import-ebay-listings>
      </ng-template>
    </div>
    </mat-tab>
  </mat-tab-group>

