.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: .2rem .5rem;
  height: 95%;
}
.selector {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: .8rem;
}
.items {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
