<ng-template  *ngIf="errorService.message() && errorService.message().length > 2">
  <app-error></app-error>
</ng-template>
<div *ngIf="(ebaySoldItems() && ebaySoldItems()?.orders?.length) else show ">
  <div *ngIf="ebaySoldItems()?.orders as orders">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <!-- Order Number Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef> Order Number </th>
        <td mat-cell *matCellDef="let order"> {{order.orderId}} </td>
      </ng-container>

      <!-- Buyer Username Column -->
      <ng-container matColumnDef="buyerUsername">
        <th mat-header-cell *matHeaderCellDef> Buyer Username </th>
        <td mat-cell *matCellDef="let order"> {{order.buyer.username}} </td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Total Price </th>
        <td mat-cell *matCellDef="let order"> {{order.pricingSummary.total.value}} </td>
      </ng-container>

      <!-- Order Status Column -->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef> Order Status </th>
        <td mat-cell *matCellDef="let order"> {{order.paymentSummary.payments[0].paymentStatus}} </td>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef> Bezahlt: </th>
        <td mat-cell *matCellDef="let order"> {{order.paymentSummary.payments[0].paymentDate | date: 'dd/MM/YYYY HH:mm:ss'}} </td>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="shippedAm">
        <th mat-header-cell *matHeaderCellDef> Verschickt: </th>
        <td mat-cell *matCellDef="let order"> {{order.orderFulfillmentStatus === 'FULFILLED' ? 'Verschickt': 'In bearbeitung'}} </td>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="invoice">
        <th mat-header-cell *matHeaderCellDef> Rechnung: </th>
        <td mat-cell *matCellDef="let order"> <button mat-stroked-button (click)="openInovice(order)" color="accent"><mat-icon>print</mat-icon>Rechnung</button> </td>
      </ng-container>
      <ng-container matColumnDef="buchen">
        <th mat-header-cell *matHeaderCellDef> Gebucht: </th>
        <td mat-cell *matCellDef="let order"><app-ebay-transactions [item]="order"></app-ebay-transactions> </td>
      </ng-container>
      <ng-container matColumnDef="refund">
        <th mat-header-cell *matHeaderCellDef> Refund: </th>
        <td mat-cell *matCellDef="let order"><button mat-stroked-button color="primary" (click)="refund(order)"><mat-icon >
          point_of_sale
          </mat-icon>Refund</button> </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<ng-template #show >
  <div class="content">
    <button (click)="getLink()" *ngIf="!show_input">Not loged, login to ebay!</button>
  </div>
</ng-template>
