$fs : 15pt;
$lh : 15pt;
$fw: 500;
.invoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20pt 20pt;
  min-width: calc(595pt  - 10pt);
  flex-direction: column;
  font-weight: $fw;
    font-size:$fs;
    line-height: $lh;
}

.rechData {
 display: flex;
 justify-content: space-between;
 width: 100%;
 margin-top: 2rem;
 margin-bottom: 1rem;
}
.logo{
  display: flex;
  justify-content: center;
  height: 150px;
  scale: auto;
  margin-bottom: .5rem;
  img {
    border-radius: .5rem;
    width: 330px;
  }
}
.header {
  display: flex;
  width: 100%;

  padding-top: 2rem;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.prod {
  width: 100%;
}

.mat-column-name {
  flex: 1;
  padding: 0 .2rem 0 .2rem;
  min-width: 30%;
  font-weight: $fw;
  font-size:$fs;
  line-height: $lh;
}
.mat-column-sku {
  width: 15%;
  padding: 0 .2rem 0 .2rem;
  font-weight: $fw;
    font-size:$fs;
    line-height: $lh;
}

.mat-column-preis,
.mat-column-rabat,
.mat-column-stpreis,
.mat-column-brutto {
  padding: 0 .2rem 0 .2rem;
  width: 8%;
  font-weight: $fw;
    font-size:$fs;
    line-height: $lh;
  text-align: right;
}
.mat-column-menge {
  padding: 0 .2rem 0 .2rem;
  width: 6%;
  font-weight: $fw;
    font-size:$fs;
    line-height: $lh;
  text-align: center;
}

.mat-column-mwst
{
  padding: 0 .2rem 0 .2rem;
  width: 3%;
  font-weight: $fw;
    font-size:$fs;
    line-height: $lh;
}
.tab {
  width: 100%;
}
.close {
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.versand {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .5rem;
  .preise {
    width: 13%;
    text-align: right;
  };
}
.kunternehmen {
  margin-top: .5rem;

}
.promo {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: $fw - 100;
  font-size:$fs;
  line-height: $lh;
}

