<div *ngIf="errorService.message() && errorService.message().length > 3">
  {{errorService.message()}}
</div>
<div class="close">
  <button mat-icon-button (click)="savePdf()" color="primary">
    <mat-icon> picture_as_pdf</mat-icon>
</button>
  <button mat-icon-button (click)="close()" color="warn">
      <mat-icon>close</mat-icon>
  </button>
</div>
<div *ngIf="item$ | async">
  <div class="invoice" id="invoice">
    <div class="header">
      <div class="company">
        <div class="logo"> <img src="../../../assets/img/logo.png" alt="logo fischfang-profi.de"></div>

          <div>{{company.name}}</div>
          <div>{{company.address}}</div>
          <div> {{company.postleitzahl}} {{company.city}}</div>
           <div>{{company.country}}</div>
           <div>{{company.email}}</div>
           <div>{{company.ustNr}}</div>



      </div>
      <div class="spacer"></div>
      <div class="customer">
        <div>{{currentItem.kunde.vorname}} {{currentItem.kunde.nachname}}</div>
        <div>{{currentItem.kunde.adresse.strasse}} {{currentItem.kunde.adresse.hausnummer}}</div>
        <div>{{currentItem.kunde.adresse.postleitzahl}} {{currentItem.kunde.adresse.stadt}}</div>
        <div>{{currentItem.kunde.adresse.land}}</div>
        <div>{{currentItem.kunde.email}}</div>
      </div>
    </div>
    <div class="rechData">
      <div>Rechnungsnummer: {{ currentItem.id }}</div>
      <div>Rechnungsdatum: {{currentItem.bestelldatum | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="prod">
      <table mat-table [dataSource]="currentItem.produkte" class="tab">

        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef>Sku</th>
          <td mat-cell *matCellDef="let item">{{ item.produkt[0].sku }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item">{{ item.produkt[0].name }}</td>
            <td mat-footer-cell *matFooterCellDef>Zwischensumme:</td>
          </ng-container>

          <ng-container matColumnDef="varia">
            <th mat-header-cell *matHeaderCellDef>Variation Id</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{getVariations(i)}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="stpreis">
            <th mat-header-cell *matHeaderCellDef>Einzelpreis</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ getFixed(item.verkauf_price) }} &euro;</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="menge">
            <th mat-header-cell *matHeaderCellDef>Menge (st.)</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ item.menge }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="preis">
            <th mat-header-cell *matHeaderCellDef>Umsatzsteuer</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ getTaxProStuck(i).toFixed(2) }} &euro;</td>
            <td mat-footer-cell *matFooterCellDef>{{getTax().toFixed(2)}} &euro;</td>
          </ng-container>

          <ng-container matColumnDef="mwst">
            <th mat-header-cell *matHeaderCellDef>MwSt. </th>
            <td mat-cell *matCellDef="let item; let i = index">{{item.produkt[0].mehrwehrsteuer}} %</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="rabat">
            <th mat-header-cell *matHeaderCellDef>Rabat: </th>
            <td mat-cell *matCellDef="let item; let i = index">{{ getRabat(i).toFixed(2) }} &euro;</td>
            <td mat-footer-cell *matFooterCellDef>{{ getTotalRabat().toFixed(2)}} &euro;</td>
          </ng-container>

          <ng-container matColumnDef="brutto">
            <th mat-header-cell *matHeaderCellDef>Gesamtpreis:
              <mat-hint *ngIf="!company.isKleinUnternehmen">Brutto</mat-hint> </th>
            <td mat-cell *matCellDef="let item; let i = index">{{ getBrutto(i).toFixed(2) }} &euro;</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalBrutto().toFixed(2)}} &euro;</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
          <tr mat-footer-row *matFooterRowDef="columns"></tr>
      </table>
      <table class="tab">
        <tr >
          <div class="versand">
            <div class="art">{{currentItem.versandart}} Versandkosten: </div>
            <div class="preise"> {{currentItem.versandprice.toFixed(2) }} &euro;</div>
          </div>

            <div class="versand" *ngFor="let item of refunds()">
              <div class="art" > {{item.comment}} </div>
              <div class="preise" *ngIf="item.amount != 0"> -{{item.amount}} &euro;</div>
              <div class="preise" *ngIf="item.amount == 0 "> -{{getItemRefund(item)}} &euro;</div>
          </div>
          <div class="versand" *ngFor="let item of shopRefunds()">
            <div class="art" > {{item.rueckgabegrund}} </div>
            <div class="preise" *ngIf="item.amount != 0"> -{{item.amount}} &euro;</div>
            <div class="preise" *ngIf="item.amount == 0 "> -{{getShopProduktRefund(item).toFixed(2)}} &euro;</div>
        </div>
          <div class="versand">
            <div class="art">Total:</div>
            <div class="preise"> {{getPriceWithShipping().toFixed(2) }} &euro;</div>
          </div>
        </tr>
      </table>

    </div>
    <div *ngIf="company.isKleinUnternehmen" class="kunternehmen">
      Als Kleinunternehmer im Sinne von § 19 Abs. 1 UStG wird keine Umsatzsteuer berechnet
    </div>
    <div class="footer">

    </div>
  </div>
</div>

