.invoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5cm 2.5cm;
  min-width: calc(210mm - margin);
  flex-direction: column;
}
.rechData {
 display: flex;
 justify-content: space-between;
 width: 100%;
 margin-top: 1rem;
 margin-bottom: .5rem;
}
.logo{
  display: flex;
  justify-content: center;
  height: 70px;
  scale: auto;
  margin-bottom: .5rem;
  img {
    border-radius: .5rem;
    width: 210px;
  }
}
.header {
  display: flex;
  width: 100%;
  font-size: medium;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.prod {
  width: 100%;
}

.mat-column-name {
  flex: 1;
  padding: 0 .1rem 0 .2rem;
  min-width: 30%;
  font-size: small;
}
.mat-column-varia {
  width: 15%;
  padding: 0 .1rem 0 .2rem;
  font-size: small;
}

.mat-column-preis,
.mat-column-rabat,
.mat-column-menge,
.mat-column-stpreis,
.mat-column-brutto {
  padding: 0 .1rem 0 .2rem;
  width: 10%;
  font-size: small;
}


.mat-column-mwst
{
  padding: 0 .1rem 0 .2rem;
  width: 3%;
  font-size: small;
}
.tab {
  width: 100%;
}
.close {
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.versand {
  display: flex;
  justify-content: space-between;
  font-size: small;
  width: 100%;

  .preise {
    width: 13%;

  }
}
.kunternehmen {
  margin-top: .5rem;
  font-size: small;
  font-weight: 550;
}
