.invoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2.5cm 2.5cm;
  width: calc(210mm - margin);
  flex-direction: column;
}
.logo{
  display: flex;
  justify-content: center;
  height: 70px;
  scale: auto;
  margin-bottom: .5rem;
  img {
    border-radius: .5rem;
    width: 210px;
  }
}
.header {
  display: flex;
  width: 100%;
  font-size: medium;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.prod {
  width: 100%;
}

.mat-column-name {
  width: 20%;
  padding: 0 .1rem 0 .2rem;
  font-size: small;
}
.mat-column-varia {
  width: 10%;
  padding: 0 .1rem 0 .2rem;
  font-size: small;
}
.mat-column-pos,
.mat-column-preis,
.mat-column-menge,
.mat-column-netto,
.mat-column-rabat,
.mat-column-brutto {
  padding: 0 .1rem 0 .2rem;
  width: 10%;
  font-size: small;
}
.tab {
  width: 100%;
}
.close {
  display: flex;
  justify-content: flex-end;
}
