<div class="content">
<div *ngIf="erroRService.message() && erroRService.message().length > 5">
  {{erroRService.message()}}
</div>
    <div>Gib die Einträge ein, getrennt durch ein Komma (,)</div>
    <textarea name="" id="" cols="40" rows="5" [(ngModel)]="items" ></textarea>

  <button mat-raised-button (click)="sendItems()" color="primary">Import</button>
  <div *ngIf="succesList().length > 0">
    <div class="added" *ngFor="let item of succesList()">
      <div>{{item}}</div>
    </div>
  </div>
</div>
