.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.added {
  display: flex;
  justify-content: space-between;
}
