.content-listing {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: inherit;
  align-items: center;
  margin-top: 1rem;
}
.added {
  display: flex;
  justify-content: space-between;
}
.butt {
  margin-bottom: .5rem;
}

