<div *ngIf="error.message().length > 2">
  <app-error></app-error>
</div>
<mat-tab-group>
  <mat-tab label="Subscriptions">
    <div class="content" *ngIf="subscriptions() as subs">
      <table mat-table [dataSource]="subs.subscriptions" class="subs">
        <ng-container matColumnDef="subid">
          <th mat-header-cell *matHeaderCellDef>Subscription Id</th>
          <td mat-cell *matCellDef="let item">{{item.subscriptionId}}</td>
        </ng-container>
        <ng-container matColumnDef="topicid">
          <th mat-header-cell *matHeaderCellDef>Topic</th>
          <td mat-cell *matCellDef="let item">{{item.topicId}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Subscription Status</th>
          <td mat-cell *matCellDef="let item">{{item.status}}</td>
        </ng-container>
        <ng-container matColumnDef="getsub">
          <th mat-header-cell *matHeaderCellDef>Abonnementstatus</th>
          <td mat-cell *matCellDef="let item">
            <button *ngIf="item.status === 'DISABLED'" mat-raised-button (click)="subscribe()" color="primary">Subscribe</button>
            <button *ngIf="item.status === 'ENABLED'" mat-raised-button (click)="unsubscribe()" color="warn">Unsubscribe</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <div class="ebaySubs">
          <button mat-stroked-button (click)="itemSoldSubscription()">ItemSold Subscribtion</button>
          <button mat-stroked-button (click)="NotifikationPreferences()">Ebay Notification Preferences</button>
      </div>
      <div class="ebay_respo" [innerHTML]="xmlSig()"></div>
      <div class="actions">
        <button *ngIf="previous().length > 0" mat-stroked-button color="primary" (click)="goPreviorusSite()"><</button>
        <button *ngIf="subscriptions().next" mat-stroked-button color="accent" (click)="goNextSite()">></button>
      </div>
      </div>
   </mat-tab>
  <mat-tab label="Topics">
    <ng-template matTabContent>
      <app-topics></app-topics>
    </ng-template>

  </mat-tab>

</mat-tab-group>


