<div class="content">
    <div class="title">
            <mat-form-field>
                <mat-label>Title (max 80)</mat-label>
                <input matInput placeholder="label" value="value" [(ngModel)]="itemGroupSig().title" (keyup)="titleChange($event)">
                @if (itemGroupSig().title && itemGroupSig().title.length > 80) {
                    <mat-hint class="error">Title is to long..., maximum 80 Characters</mat-hint>
                }
            </mat-form-field>
    </div>
    <div class="category">
        <app-ebay-category [item]="itemOfferSig" (categoryChange)="categoryChange($event)"></app-ebay-category>
    </div>
    <div class="aspects">
        <app-ebay-aspects [current_aspects]="currentAspectsSig" [category]="categorySig" (selected_aspects)="setAspects($event)"></app-ebay-aspects>
    </div>
    <div class="variations">
        <div>Variations: </div>
        <div> <button mat-raised-button (click)="openVariations()">Bearbeiten</button></div>
    </div>
    <div class="shipping-policy">
        <div>Shipping Method</div>
        <div><app-select-shipping-policy [selectedPolicy]="shippingPolicyIdSig" (newPolicy)="setFulFillmentPolicyId($event)" ></app-select-shipping-policy></div>
    </div>
    <div class="payment-policy">
        <div>Payment Method</div>
        <div><app-select-payment-policy (selectedPaymentPolicy)="setPaymentPolicyId($event)"></app-select-payment-policy></div>
    </div>
</div>