<div *ngIf="errorService.message() && errorService.message().length > 2">
  <app-error></app-error>
</div>
<ng-container [ngTemplateOutlet]=" element.image || element.produkt_image ? imageok : noimage" [ngTemplateOutletContext]="{element : element}"></ng-container>
<ng-template #imageok let-element="element">
  <div class="upload">
    <div class="img">
      {{element.produkt_image ? element.produkt_image : element.image}}
    </div>
    <button mat-stroked-button color="warn" (click)="deleteImage(element)">Löschen</button>
    <span *ngIf="del$ | async"></span>
  </div>

</ng-template>
<ng-template #noimage let-element="element">
  <div class="imginput">
    <div class="upload">
      <input type="file" id="img" (change)="onFileChange($event)" accept="image/*"  />
      <button mat-mini-fab color="primary" class="upload-btn" *ngIf=" helperService.uploadProgersSig() === 0"
      (click)="uploadPhoto(element)">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="upload-btn" *ngIf="helperService.uploadProgersSig() > 0 "
      (click)="cancelUpload()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
      <mat-progress-bar class="progress-bar" mode="determinate"
      [value]="helperService.uploadProgersSig()" *ngIf="helperService.uploadProgersSig() > 0 && helperService.uploadProgersSig() < 100 ">
      </mat-progress-bar>
      <span *ngIf="send$ | async"></span>
  </div>
</ng-template>
