<title>{{title()}}</title>
<app-toolbar></app-toolbar>
<mat-sidenav-container>
      <mat-sidenav mode="side" align="start" opened #sidenav>
          <div class="menu" *ngIf="menu$ | async as menus">
            <div class="menuItem" *ngFor="let item of menus;let i = index;" ><button mat-button color="accent" routerLink="{{item.link}}" (click)="buttonActive(i)" >{{item.name}}</button></div>
            <div class="menuItem" ><button mat-button color="accent" (click)="showAll()" >Home</button></div>
          </div>
          <div *ngIf="kategorie$ | async as kategories" class="menu">
            <div class="menuItem" *ngFor="let item of kategories"><button mat-button color="accent" (click)="changeCategorie(item)" >{{item.name}}</button></div>
          </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div *ngIf="showLoaderSig()" class="loader-spinner">
          <mat-spinner></mat-spinner>
        </div>
  <router-outlet></router-outlet>
  <app-paginator></app-paginator>
      </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

