<app-toolbar></app-toolbar>
<mat-sidenav-container>
      <mat-sidenav mode="side" align="start" opened #sidenav>
          <div class="menu" *ngIf="menu$ | async as menus">
            <div class="menuItem" *ngFor="let item of menus;let i = index;" ><button mat-button color="accent" routerLink="{{item.link}}" (click)="buttonActive(i)" >{{item.name}}</button></div>
            <div class="menuItem" *ngFor="let item of (kategorie$ | async)"><button mat-button color="accent">{{item.name}}</button></div>
          </div>
      </mat-sidenav>
      <mat-sidenav-content >
  <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
