<title>{{title()}}</title>
<app-toolbar></app-toolbar>
<mat-sidenav-container autosize="true">
      <mat-sidenav mode="side" align="start" opened #sidenav>
          <div class="menu" *ngIf="menu$ | async as menus">
            <div class="menuItem" *ngFor="let item of menus;let i = index;" >
              <button mat-stroked-button color="accent" routerLink="{{item.link}}" (click)="buttonActive(i)" *ngIf="item.name">{{item.name}}</button>
            </div>
            <div class="menuItem" ><button mat-stroked-button color="accent" (click)="showAll()" >Home</button></div>
          </div>
          <div *ngIf="kategorieSig() as kategories" class="menu">
            <div class="menuItem" *ngFor="let item of kategories"><button mat-stroked-button color="accent" (click)="changeCategorie(item)"><a [routerLink]="[item.name]" routerLinkActive="router-link-active" style="text-decoration: none;">{{item.name}}</a></button></div>
          </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="h1Category">
          <h1>{{h1sig()}}</h1>
        </div>
        <div *ngIf="showLoaderSig()" class="loader-spinner">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="companyService.getUrlop() | async as urlop">
          <app-show-urlop *ngIf="urlop[0] && urlop[0].is_in_urlop" [urlop]="urlop[0]"></app-show-urlop>
        </div>
  <router-outlet *ngIf="kategorieSig()?.length"></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

