<div mat-dialog-title class="h2">
    <div><h2>Produkt Variation and foto</h2></div>
    <div class="close">
      <button mat-icon-button mat-dialog-close color="warn">
          <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
    <div class="content">
        <div class="image_group">
           <div class="left_image">
            @if(currentImageSig()) {
                <img [src]="getSafeImageData()" alt="Product Image">
            }
           </div>
           @if(currentVariationsSig() !== 'Group') {
            <div class="buttons">
                @for(item of variationsSig(); track $index) {
                    @if($index >= variationStartSig() && $index < variationStopSig()) {
                        <div class="butt"><button mat-stroked-button (click)="setImageForVariation(item.sku!)">{{item.sku}}</button></div>
                        
                    }   
                }
            </div>
           }
           <div class="right_upload">
            @for (item of group_imageSig(); track $index) {
             
                    <app-ebay-image class="icon" [image]="item" (imagelink)="setImageLink($event)" [index]="$index" (deleteAction)="deleteImageOn($event)"></app-ebay-image>
                
            }
           </div>
        </div>
        <div class="variation_group">
            <div>Select Group or variation image</div>
            <div>
                <mat-form-field>
                    <mat-label>Images</mat-label>
                    <mat-select placeholder="Placeholder" [(value)]="currentVariationsSig" name="item" (selectionChange)="setImageForGroupOrVariation()">
                        @for(item of variations_nameSig(); track $index) {
                            <mat-option  [value]="item">
                                {{item}}
                            </mat-option>
                        }
             
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="selected_variation">
            <app-selected-variation-list [stopSig]="variationStopSig" [startSig]="variationStartSig" [variationSig]="variationsSig" [variation_nameSig]="currentVariationsSig" [offersSig]="offersSig"></app-selected-variation-list>
        </div>
    </div>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Abbrechen</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button [mat-dialog-close]="[groupItem, variationsSig() ,offersSig()]">Speichern</button>
</mat-dialog-actions>
