
.image_group {
    display: flex;
    height: 50%;
    max-height: 50%;
    min-height: 280px;
    width: 96%;
    max-width: 96%;
    align-items: center;
}
.left_image {
    display: flex;
    max-height: 280px;
    min-height: 280px;
    flex: 1;
    img {
        object-fit:fill;
        max-width: 350px;
    }
}
.right_upload {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: .5rem;
    height: inherit;
    min-height: 280px;
    border: 1px solid rgb(146, 107, 84);
    flex: 2;
    align-items: center;
    justify-items: center;
    .icon {
        display: flex;
        width: 90px;
        height: 48px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.variation_group {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
    height: 5%;
    flex: 1;
    margin: .5rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: inherit;
    min-height: 280px;
    flex: 1;
    .butt {
        margin: .1rem .1rem;
        min-width: 100%;
    }
}
.h2 {
    display: flex;
    justify-content: space-between;
  }