<div>
    <div class="select">
        <mat-form-field>
            <mat-label>Select Jear</mat-label>
            <mat-select  [(value)]="selectedValue" name="item" (selectionChange)="onSelectedYearChange($event.value)">
                @for (jahr of items(); track jahr;) {
   
                        <mat-option [value]="jahr">
                            {{jahr}}
                        </mat-option> 
                    
                        
                }
            </mat-select>
        </mat-form-field>

    </div>
    <div class="pies">
        <div class="item"><app-ebay-shop></app-ebay-shop></div>
        <div class="item"><app-ebay-netto></app-ebay-netto></div>
        <div class="item"><app-shop-netto></app-shop-netto></div>
    </div>
    <div class="bar">
        <app-shop-months></app-shop-months>
    </div>
</div>

