.img_icon {
    scale: 2;
}
.file-input {
    display: none;
  }
  .ebay_image {
    display: flex;
    width: 90px;
    height: 50px;
    align-items: center;
    justify-content: center;
        img {
            max-width: inherit;
            max-height: inherit;
            height: inherit;
            width: inherit;
          object-fit:contain;
        }
     
  }
  .spinner {
    scale: .3;
  }
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 62px;
    max-height: 62px;
  }
  .delete {
    display: flex;
    height: 8px;
    width: inherit;
}
button {
  margin-top: 2px;
  line-height: .3em;
  font-size: .4em;
  height: 8px;
  width: inherit;
  max-width: 80px;
}

.button-content {
    display: flex;
    align-items:center; /* Wyrówn pionowe */
    color: red;

}
mat-icon {
    margin-right: 2px; /* Odstęp między ikoną a tekstem */
    scale: .4;
}

.button-text { 
    display: inline-block;

}