@if(isUploadingImage()) {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
<div class="image">
    <input type="file" class="file-input" (change)="openFileInput($event)" #fileUpload>
  
        @if(currentImageLink() === '' && !isUploadingImage()) {
            <div (click)="fileUpload.click()" class="ebay_image">
            <mat-icon class="img_icon" >image_search</mat-icon>
            </div>
        } @else if (currentImageLink() !== '') {
            <div (click)="setCurrentImage()" class="ebay_image">
                <img [src]="getSafeImageData()" alt="ebay_image">
            </div>     
        }

    @if (uploadProgress()) {
    <div class="progress">
        <mat-progress-bar [value]="uploadProgress()" >
        </mat-progress-bar>
            <mat-icon class="cancel-upload" (click)="cancelUpload()" >delete_forever</mat-icon>
      </div>
    }
    @if(currentImageLink() !== '' && !uploadProgress()) {
        <div class="delete">
            <button mat-raised-button (click)="deleteImage()" aria-labelledby="button-delete">
                <span class="button-content">
                    <mat-icon>delete</mat-icon>
                    <span class="button-text">delete</span>
                </span>
            </button>
        </div>
    }
</div>

