<div *ngIf="errorService.message() && errorService.message().length > 0">
  <app-error></app-error>
</div>
<div class="content">
<app-products-quanity-selector></app-products-quanity-selector>
  <mat-tab-group>
    <mat-tab label="Shop-Refunds">
      <table mat-table [dataSource]="refundsSig()">
        <ng-container matColumnDef="orderId">
          <th mat-header-cell *matHeaderCellDef> Bestellung Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.bestellung.id }} </td>
        </ng-container>
        <ng-container matColumnDef="refundId">
          <th mat-header-cell *matHeaderCellDef> Refund Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id }} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Menge. </th>
          <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
        </ng-container>
        <ng-container matColumnDef="itemCount">
          <th mat-header-cell *matHeaderCellDef> Artikels </th>
          <td mat-cell *matCellDef="let element"> {{element.produkte ? element.produkte.length : 0 }} </td>
        </ng-container>
        <ng-container matColumnDef="corrective_nr">
          <th mat-header-cell *matHeaderCellDef> Korrektur </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.is_corrective === 1"> {{element.corrective_refund_nr }} </span>
            <button *ngIf="element.is_corrective !== 1" mat-stroked-button color="accent">
               <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>Korrektur</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="paypalid">
          <th mat-header-cell *matHeaderCellDef> Paypal Id </th>
          <td mat-cell *matCellDef="let element"> {{element.paypal_refund_id }} </td>
        </ng-container>
        <ng-container matColumnDef="paypalstatus">
          <th mat-header-cell *matHeaderCellDef> Paypal status </th>
          <td mat-cell *matCellDef="let element"> {{element.paypal_refund_status }} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Löschen </th>
          <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="warn">
            <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
            X</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Ebay-Refunds">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
<app-paginator></app-paginator>
</div>

