<div class="content" *ngIf="warehouses() else loader">
  <div class="header">
    <div class="h2">
      <h2>Lager</h2>
    </div>
    <div class="butt">
      <button mat-stroked-button (click)="newWarehaouseOrEdit()" color="accent"> Lager hinzufügen</button>
    </div>
  </div>
  <div class="tab">
    <div class="row">
      <div class="item">Lager Id</div>
      <div class="item">Lager Name</div>
      <div class="item">Lager Stellplätze</div>
      <div class="item">Lager anschrift</div>
      <div class="item">Lager entfernen</div>
    </div>
    <div class="row" *ngFor="let item of warehouses()" >
      <div class="item" (click)="newWarehaouseOrEdit(item)">{{item.id}}</div>
      <div class="item" (click)="newWarehaouseOrEdit(item)">{{item.name}}</div>
      <div class="item" *ngIf="item.lagerorte">{{item.lagerorte.length}}</div>
      <div class="item" *ngIf="!item.lagerorte">0</div>
      <div class="item" (click)="newWarehaouseOrEdit(item)">{{item.adresse}}</div>
      <div class="item" ><button mat-icon-button (click)="delete(item)" color="warn" *ngIf="!item.lagerorte || item.lagerorte.length == 0" ><mat-icon class="small-icon">delete</mat-icon></button></div>
    </div>
  </div>
</div>
<span *ngIf="act$ | async"></span>
<ng-template #loader>
  Loading....
</ng-template>
