.icon {
  position: relative;
}

.item-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: rgb(128, 77, 30);
  color: white;
  border-radius: .3rem;
  padding: 2px;
  font-size: 12px;
}
