<mat-toolbar color="primary">
   <div class="logo"> <img src="../../../assets/img/logo.png" alt="logo fischfang.de" width="30%" height="20%">  </div>
   <div class="search"><app-search></app-search></div>
   <div class="logujkoszyk">
    <button mat-icon-button (click)="showLoginPanel()" ><mat-icon class="icon">person</mat-icon></button>
    <button mat-icon-button > <mat-icon class="icon" >shopping_cart</mat-icon></button>
    <button mat-icon-button *ngIf="isLogged()" (click)="logout()" > <mat-icon class="icon" >logout</mat-icon></button>
   </div>
</mat-toolbar>
