<mat-toolbar color="primary">
   <div class="logo">
    <div class="menu" *ngIf="widthSig() < 600">
      <button mat-icon-button (click)="showHideMenu()" >
        <mat-icon>menu</mat-icon>
    </button>
    </div>

     <img src="../../../assets/img/logo.png" alt="logo fischfang-profi.de">
      </div>
   <div class="search"><app-search></app-search></div>
   <div class="logandcard">
    <button mat-icon-button (click)="showLoginPanel()" ><mat-icon class="icon">person</mat-icon></button>
    <button mat-icon-button routerLink="card"  (click)="go()"> <mat-icon class="icon" >shopping_cart</mat-icon>
      <span class="item-count" *ngIf="helper.cardSig().length > 0">{{helper.cardSig().length}}</span></button>
    <button mat-icon-button *ngIf="isLogged()" (click)="logout()" > <mat-icon class="icon" >logout</mat-icon></button>
   </div>
</mat-toolbar>
