<div class="error" *ngIf="err() && err().length > 3">
  <app-error></app-error>
</div>
<div  class="title">
 <div><h2>Bestellung nr: {{data.id}}</h2></div>
 <div>
  <button mat-icon-button (click)="close()" color="warn">
      <mat-icon>close</mat-icon>
  </button>
</div>
</div>
<div mat-dialog-content class="content">
  <div class="row">
      <mat-form-field>
          <mat-label>Versand Date:</mat-label>
          <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="data.versand_datum">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Versand Nr:</mat-label>
        <input type="text" matInput [(ngModel)]="data.varsandnr">
      </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Bestellung Status:</mat-label>
      <mat-select [(ngModel)]="data.status" placeholder="">
          <mat-option *ngFor="let item of stan" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bestellung Verschickt ?</mat-label>
      <mat-select [(ngModel)]="data.bestellungstatus" placeholder="">
          <mat-option *ngFor="let item of status" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="title">Produkte in Bestellung: </div>
  <div *ngIf="currentItem()">
    <div *ngFor="let item of currentItem()?.produkte; let i = index" class="tab-row">
      <div class="item-name">
        {{item.produkt[0].name}} ( {{item.produkt[0].artid}} )
      </div>
      <div class="color">
        <div *ngFor="let col of color[i]; let z = index" class="color-item">
            <div class="color-item-innen">
              {{col.id}} : <span class="red-icon">{{col.menge}}</span>
            </div>
            <div class="color-item-innen-input">
              {{col.id}} : <input type="number" [(ngModel)]="color_gepackt[i][z].menge">
            </div>
            <div class="color-item-innen">
              <mat-icon [ngClass]="{'green-icon': col.menge === color_gepackt[i][z].menge, 'red-icon': col.menge !== color_gepackt[i][z].menge}">
                thumb_up_alt
                thumb_down_alt
              </mat-icon>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="act">
  <button mat-raised-button color="primary" (click)="saveOrder()" >Speichern</button>
  <span *ngIf="act$ | async"></span>
</div>

