.row {
  display: flex;
  flex:  1;
  gap: .4rem;
}
.small {
  font-size: xx-small;
}
.content-buch {
  display: flex;
  flex-direction: column;
  margin: 0 .5rem;
  align-items: center;
  height: calc( 95% - .5rem );
  overflow-y: auto;
}
.action {
  display: flex;
  justify-content: center;
  height: 5%;
  width: 80%;
  position: fixed;
  z-index: 1000;

}
.tabs {
  width: 100%;
}
.info-warn {
  color: rgb(165, 15, 15);
}
.close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

