<div *ngIf="err.message() && err.message().length > 2">
  <app-error></app-error>
</div>
<div class="content">
  <div class="close">
    <button mat-icon-button (click)="closeGoodsReceipt()" color="warn">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="warenEingangForm" >
    <div class="row">
      <mat-form-field>
        <mat-label>Lieferant</mat-label>
        <mat-select formControlName="lieferant" (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let lieferant of liferants$ | async" [value]="lieferant.id">{{ lieferant.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Empfangsdatum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="empfangsdatum" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rechnung</mat-label>
        <input matInput formControlName="rechnung" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Lieferschein Nr</mat-label>
        <input matInput formControlName="lieferscheinNr" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Buchungs Datum</mat-label>
        <input matInput [matDatepicker]="pickero" formControlName="datenEingabe" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="pickero"></mat-datepicker-toggle>
        <mat-datepicker #pickero></mat-datepicker>
      </mat-form-field>
      <div>
        <mat-checkbox formControlName="gebucht" labelPosition='before' (change)="SaveReceiptCompletely()" >Gebucht ?</mat-checkbox>
        <p class="small">(Es kann nichts mehr geändert werden) </p>
      </div>

      <mat-checkbox formControlName="eingelagert">Eingelagert</mat-checkbox>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Versand Kosten</mat-label>
        <input type="number" matInput formControlName="shipping_cost">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bemerkungen</mat-label>
        <textarea name="" id="" cols="30" rows="2" matInput formControlName="remarks"></textarea>
      </mat-form-field>
    <mat-form-field>
     <mat-label>Andre Kosten</mat-label>
      <input type="number" name="" id="" formControlName="other_cost" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lagerort</mat-label>
      <mat-select formControlName="location" placeholder="">
        <mat-option [value]="null">null</mat-option>
    </mat-select>
    </mat-form-field>
    </div>
  </form>
  <div *ngIf="!data">
    <span class="info-warn">Du solltest zuerst die Buchung speichern!</span>
  </div>
  <mat-tab-group dynamicHeight class="tabs">
    <mat-tab label="Products">
      <ng-template matTabContent >
       <app-artikel-list></app-artikel-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Products in Bestellung">
      <ng-template matTabContent>
        <app-artikel-gebucht></app-artikel-gebucht>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="action">
  <button mat-button (click)="saveGoodsReceipt()" [disabled]="!warenEingangForm.valid">Save<span *ngIf="act$ | async"></span></button>
</div>


