.content-foot {
  display: flex;

  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
  cursor: pointer;
  a {
    text-decoration: none;
    margin-top: .5rem;
  }
}

