.sell-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .table-container {
    width: 100%;
    overflow: auto;
    margin: 20px 0;
  }

  .actions {
    display: flex;
    gap: 10px;
  }
}
