<div class="product-item">
  <div class="product-image" >
    <img [src]="image" alt="Product Image" class="image" *ngIf="act$ | async as item else loader">
  </div>
  <div class="product-details">
    <h3>{{item.name}}</h3>
    <p>{{ item.beschreibung.length < 150 ? item.beschreibung : (item.beschreibung | slice:0:150) + '...'}}</p>
    <p *ngIf="item.mehrwehrsteuer < 1">Preis: {{item.preis}} &euro; </p>
    <p *ngIf="item.mehrwehrsteuer > 0">Preis: {{getPriceBrutto(item)}} &euro;</p>
    <div class="prop">
      <p>Lange: {{item.lange}} (mm)</p>
      <p>Gewicht: {{item.gewicht}} (g)</p>
    </div>
    <div class="color" *ngIf="color.length > 1">
      <label for="farbe">Farbe: </label>
      <select id="farbe" (change)="colorChange($event.target)">
        <option *ngFor="let item of color" [value]="item.id">{{item.id}}</option>
      </select>
    </div>
    <div class="act">
      <button mat-raised-button color="primary">In den Warenkorb</button>
      <button mat-raised-button color="accent" (click)="openDetails()" >Details</button>
    </div>
  </div>
</div>
<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
