<div class="product-item">
  <div class="product-image">
    <img [src]="getImage(item)" alt="Product Image" class="image" ><span *ngIf="act$ | async as item else loader"></span>

  </div>
  <div class="product-details">
    <h3>{{item.name}}</h3>
    <p>{{item.beschreibung}}</p>
    <p>Preis: {{item.preis}}</p>
    <div class="prop">
      <p>Lange: {{item.lange}} (mm)</p>
      <p>Gewicht: {{item.gewicht}} (g)</p>
    </div>
    <div class="act">
      <button mat-raised-button color="primary">In den Warenkorb</button>
      <button mat-button color="accent" (click)="openDetails()" >Details</button>
    </div>
  </div>
</div>
<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
