.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;


}
.product-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid green;
  padding: .3rem .3rem;
  min-width: 300px;
  max-width: 300px;
}
.product-image .image {
  border-radius: 2rem;
}
