.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .4rem .4rem;
  border: solid 1px brown;
  border-radius: .4rem;
  padding: .0rem .4rem;

  mat-form-field {
    padding-top: 1rem;
    line-height: .1rem;
    font-size: small;
  }
}
