<div class="close">
  <div><h2>Neue Kategorie</h2></div>
  <div >
    <button mat-icon-button (click)="onCancelClick()" color="warn">
        <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div>
  <form [formGroup]="kategorieForm" class="form">

      <input formControlName="id" type="hidden">

    <mat-form-field>
      <mat-label>Parent ID</mat-label>
      <mat-select formControlName="parent_id">
        <mat-option [value]="null" >Select Parrent</mat-option>
        <mat-option *ngFor="let kategorie of (kategorie$ | async)" [value]="kategorie.id">
          {{ kategorie.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" required autocomplete="off">
    </mat-form-field>
  </form>
</div>
<div class="button">
  <button mat-button (click)="onSaveClick()">Speichern</button>
</div>
