<div *ngIf="errorHandle.message().length > 2">
  <app-error></app-error>
</div>
<div class="container">
  <h2>Anmeldung</h2>
  <form >
    <div>
      <mat-form-field>
        <mat-label>E-Mail:</mat-label>
        <input matInput type="email" [(ngModel)]="loginData.email" name="email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Passwort:</mat-label>
        <input matInput type="password" [(ngModel)]="loginData.password" name="password" required autocomplete="off">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>
    <div class="log">
      <button mat-button (click)="login()" (keyup.enter)="login()" color="primary">Einloggen</button>
      <button mat-button  color="warn" (click)="close()" >Abbrechen</button>
    </div>
    Noch kein Konto?
    <button mat-button (click)="registerUser()" color="accent">Registrieren</button>
  </form>
</div>
<div *ngIf="login$ | async"></div>
