/* You can add global styles to this file, and also import other style files */
@use '../src/srcm3-theme.scss' as t;
@use '@angular/material' as mat;
@include mat.core();

html {
  @include mat.core-theme(t.$light-theme);
  @include mat.all-component-themes(t.$light-theme);
  @include mat.all-component-densities(t.$light-theme);
  @include mat.all-component-typographies(t.$light-theme);
  //@include mat.core-theme(t.$dark-theme);
  //@include mat.all-component-themes(t.$dark-theme);
  //@include mat.all-component-densities(t.$dark-theme);
  //@include mat.all-component-typographies(t.$dark-theme);
}

html, body { height: 100%; width: 100%; min-height: 100%; min-width: 100%; }
body { margin: 0; font-family: "Playfair Display", serif; }
mat-sidenav-container {
  height: calc(100% - 120px);
  width: 100%;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 2;
  gap: .4rem;
  height: 60px;
  .logandcard {

    display: flex;
    gap: .4rem;
    justify-content: flex-end;
    width: 30%;

  }
  .search {
   flex: 1;
   border-radius: .4rem;
   box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
  }
  .logo{
    display: flex;
    width: 33%;
    height: 55px;
    a {
      display: flex;
      width: 33%;
      height: 55px;
      scale: auto;
      img {
        border-radius: .5rem;
      }
    }
  }
}
.h1Category {
  display: flex;
  justify-content: flex-start;
  margin-left: .4rem;
  margin-top: .4rem;
  font-weight: bolder;
  font-style: oblique;
  text-decoration: underline;
  letter-spacing: 2.5px;
  font-variant: small-caps;
}
.icon {
  transform: scale(1.5);
}
.small-icon {
  transform: scale(.75);
}
@media screen and (max-width: 600px) {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    margin-left: .2rem;
    margin-right: .2rem;
    z-index: 2;
    gap: .4rem;
    height: 60px;
    .logandcard {

      display: flex;
      gap: .1rem;
      justify-content: flex-end;
      width: 25%;

    }
    .search {
     flex: 1;
     border-radius: .4rem;
     box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
    }
    .logo{
      display: flex;
      align-items: center;
      width: 30%;
      height: 55px;
      scale: auto;
      gap: .1rem;
      .menu {
        width: 30%;
      }
      a {
        display: flex;
        align-items: center;
        width: 70%;
        img {
          width: 100%;
          height: 35px;
          border-radius: .5rem;
        }
      }

    }
  }
  .icon {
    transform: scale(1);
  }
}

mat-sidenav {
  width: 15rem;
  max-width: 15rem;
  margin-top: .5rem;
  border-radius: .3rem;
}

.menu {
  width: 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.menuItem {
  display: block;
  width: 12.7rem;
  max-width: 12.7rem;
  margin-bottom: .2rem;
  border-radius: .1rem;
  button {
    width: 100%;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  p {
    font-size: 18px;
    color: red;
  }

  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    color: white;
    cursor: pointer;
  }

}
a {
  color: rgb(105, 47, 8);
}
.loader-spinner {
  position: absolute;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 10%;
  height: 10%;
}
.content {
  display: flex;
  flex-direction: column;
  margin: .3rem .3rem;
  height: calc(100% - 120px);
  padding: 1rem 1rem;
  overflow: auto;
}
.title-close {
  display: flex;
  margin: .1rem .5rem;
  padding: 0 .2rem;
  justify-content: space-between;
  width: 98%;
}
