/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
$my-primary: mat.define-palette(mat.$green-palette, 800);
$my-accent: mat.define-palette(mat.$brown-palette, 500, 100, 400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
@include mat.all-component-themes($my-theme);
html, body { height: 100%; width: 100%; min-height: 100%; min-width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav-container {
  height: calc(100% - 150px);
  width: 100%;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 2;
  gap: .4rem;
  height: 60px;
  .logandcard {

    display: flex;
    gap: .4rem;
    justify-content: flex-end;
    width: 30%;

  }
  .search {
   flex: 1;
   border-radius: .4rem;
   box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
  }
  .logo{
    display: flex;
    width: 33%;
    height: 55px;
    scale: auto;
    img {
      border-radius: .5rem;
    }
  }
}

.icon {
  transform: scale(1.5);
}
@media screen and (max-width: 600px) {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    margin-left: .2rem;
    margin-right: .2rem;
    z-index: 2;
    gap: .4rem;
    height: 60px;
    .logandcard {

      display: flex;
      gap: .1rem;
      justify-content: flex-end;
      width: 25%;

    }
    .search {
     flex: 1;
     border-radius: .4rem;
     box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
    }
    .logo{
      display: flex;
      align-items: center;
      width: 30%;
      height: 55px;
      scale: auto;
      gap: .2rem;
      .menu {
        width: 30%;
      }
      img {
        width: 70%;
        height: 35px;
        border-radius: .5rem;
      }
    }
  }
  .icon {
    transform: scale(1);
  }
}

mat-sidenav {
  width: 10rem;
  margin-top: .5rem;
  border-radius: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}
.menuItem:hover {
  transition-duration: 500ms;
  margin-left: 2rem;
}
.menuItem {
  display: block;
  width: 80%;
  button {
    width: 80%;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  p {
    font-size: 18px;
    color: red;
  }

  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    color: white;
    cursor: pointer;
  }

}
a {
  color: rgb(105, 47, 8);
}
.loader-spinner {
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vh;
}
