.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.select {
  display: flex;
  align-items: center;
  gap: .4rem;
  height: 100%;
}
.right-button {
  height: 100%;
}
.nodata {
  display:block;
  font-size: large;
  color: red;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  overflow: hidden;
}

.mat-column-val, .mat-column-val2, .mat-column-price {
  padding-top: 1rem;
}
.imginput {
  flex: 1;
  z-index: 9999;
  .upload {
    display: flex;
    gap: .1rem;
    height: inherit;
  }

  .upload-btn {
    margin-top: .2rem;
  }
  .progress-bar {
    margin-top: .1rem;
  }
}
