<div class="content" *ngIf="product else noproduct">
  <div *ngIf="errorServi?.message && errorServi.message().length > 2">
    <app-error></app-error>
  </div>
  <div class="selector">
    <div class="select" *ngIf="variationsSig().length > 0 else select">
      <mat-form-field appearance="outline">
        <mat-label>Variations :</mat-label>
        <mat-select [(ngModel)]="selectedVariation" placeholder="Wähle Produktvariante" >
            <mat-option *ngFor="let item of variationsSig()" [value]="item">{{item.variations_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button (click)="addVariation()" color="accent">Variation Hinzufügen</button>
    </div>
    <div class="right-button">
      <button mat-stroked-button (click)="addNeueVariation()" color="primary">Neue Variation hinzufügen</button>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="productVarationsSig()">

      <!-- SKU Column -->
      <ng-container matColumnDef="sk">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.variations_name}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preis </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="form-field">
            <input type="number" matInput [(ngModel)]="element.price" autocomplete="off" (keyup)="changesInVariation(element)">
          </mat-form-field>
        </td>
      </ng-container>
     <!-- Quanity Column -->
        <ng-container matColumnDef="quanity">
           <th mat-header-cell *matHeaderCellDef> Menge </th>
           <td mat-cell *matCellDef="let element"> {{element.quanity}} </td>
        </ng-container>
      <!-- Qanity Sold Column -->
      <ng-container matColumnDef="quanity_sold">
        <th mat-header-cell *matHeaderCellDef> Menge(Verkauft) </th>
        <td mat-cell *matCellDef="let element"> {{element.quanity_sold}} </td>
      </ng-container>
      <!-- Value Column -->
      <ng-container matColumnDef="val">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="form-field">
            <input type="text" matInput [(ngModel)]="element.value" autocomplete="off" (keyup)="changesInVariation(element)">
          </mat-form-field>
        </td>
      </ng-container>
      <!-- Value2 Column -->
      <ng-container matColumnDef="val2">
        <th mat-header-cell *matHeaderCellDef> Symbol 2 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="form-field">
            <input type="text" matInput [(ngModel)]="element.unit" autocomplete="off" (keyup)="changesInVariation(element)">
          </mat-form-field>
        </td>
      </ng-container>
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element; let i = index" >
          <ng-container [ngTemplateOutlet]="!element.image ? noimage : imageok" [ngTemplateOutletContext]="{element : element, index: i}"></ng-container>

         </td>
      </ng-container>


      <!-- Hint Column -->
      <ng-container matColumnDef="hint">
        <th mat-header-cell *matHeaderCellDef> Hint </th>
        <td mat-cell *matCellDef="let element"> {{element.hint}} </td>
      </ng-container>
           <!-- Hint Column -->
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef> Entfernen </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-stroked-button color="warn" (click)="deleteVariation(element.sku)">X</button>

        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns; let i = index">
      </tr>
    </table>
  </div>
</div>
<span *ngIf="send$[-1] | async"></span>
<ng-template #noproduct>
  <div class="nodata">
    Product Data nicht gefunden!
  </div>
</ng-template>
<ng-template #select>
  <div class="select">
    Es gibt kein Variationen!
  </div>
</ng-template>
<ng-template #imageok let-element="element" let-index="index">
  <div class="upload">
    <div class="img">
      {{element.image}}
    </div>
    <button mat-stroked-button color="warn" (click)="deleteImage(element, index)">Löschen</button>
  </div>

</ng-template>
<ng-template #noimage let-element="element" let-index="index">
  <div class="imginput">
    <div class="upload">
      <input type="file" id="img" (change)="onFileChange($event)" accept="image/*"  />
      <button mat-mini-fab color="primary" class="upload-btn" *ngIf=" helperService.uploadProgersSig().index !== index"
      (click)="uploadPhoto(element, index)">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="upload-btn" *ngIf="helperService.uploadProgersSig().signal > 0 && helperService.uploadProgersSig().index === index"
      (click)="cancelUpload()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
      <mat-progress-bar class="progress-bar" mode="determinate"
      [value]="helperService.uploadProgersSig().signal" *ngIf="helperService.uploadProgersSig().signal > 0 && helperService.uploadProgersSig().signal < 100 && helperService.uploadProgersSig().index === index">
      </mat-progress-bar>
      <span *ngIf="send$[index] | async"></span>
  </div>
</ng-template>
