<div *ngIf="act$ | async" class="content">
  <div class="head">
  <h2>Rechnungsadresse und Lieferadresse</h2>
  </div>
  <form [formGroup]="shippingAddres">
    <div class="row">
      <mat-form-field class="rest">
        <mat-label>Straße</mat-label>
        <input matInput formControlName="strasse" required />
        <mat-error *ngIf="shippingAddres.get('strasse')?.hasError('required')">Straße ist erforderlich</mat-error>
      </mat-form-field>

      <mat-form-field class="rest">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" required/>
        <mat-error *ngIf="shippingAddres.get('email')?.hasError('required')">Email ist erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field class="rest">
        <mat-label>Empfänger</mat-label>
        <input matInput formControlName="shipping_name" required placeholder="Name und Vorname"/>
        <mat-error *ngIf="shippingAddres.get('shipping_name')?.hasError('required')">Empfänger ist erforderlich</mat-error>
      </mat-form-field>
    </div>
    <div class="row">

      <mat-form-field class="hnum">
        <mat-label>Hausnummer</mat-label>
        <input matInput formControlName="hausnummer" required/>
        <mat-error *ngIf="shippingAddres.get('hausnummer')?.hasError('required')">Hausnummer ist erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field class="rest">
        <mat-label>Postleitzahl</mat-label>
        <input matInput formControlName="postleitzahl"required />
        <mat-error *ngIf="shippingAddres.get('postleitzahl')?.hasError('required')">Postleitzahl ist erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field class="rest">
        <mat-label>Stadt</mat-label>
           <input matInput formControlName="stadt" required />
        <mat-error *ngIf="shippingAddres.get('stadt')?.hasError('required')">Stadt ist erforderlich</mat-error>
         </mat-form-field>
      <mat-form-field class="rest">
        <mat-label>Land</mat-label>
        <input matInput formControlName="land" />
      </mat-form-field>
    </div>
  </form>
  <div class="check">
    <div class="mat-form-field">
      <mat-label>Versandadresse unterscheidet sich von der Rechnungsadresse</mat-label>
      <mat-checkbox [(ngModel)]="isRechnungAddress"></mat-checkbox>
    </div>
  </div>
  <div class="innovice" *ngIf="isRechnungAddress">
    <div class="head">
      <h2>Lieferadresse</h2>
      </div>
    <form [formGroup]="rechnungAddress">
      <div class="row">
        <mat-form-field class="rest">
          <mat-label>Straße</mat-label>
          <input matInput formControlName="strasse" required />
          <mat-error *ngIf="rechnungAddress.get('strasse')?.hasError('required')">Straße ist erforderlich</mat-error>
        </mat-form-field>

        <mat-form-field class="hnum">
          <mat-label>Hausnummer</mat-label>
          <input matInput formControlName="hausnummer" required/>
          <mat-error *ngIf="rechnungAddress.get('hausnummer')?.hasError('required')">Hausnummer ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field class="rest">
          <mat-label>Empfänger</mat-label>
          <input matInput formControlName="shipping_name" required placeholder="Name und Vorname"/>
          <mat-error *ngIf="rechnungAddress.get('shipping_name')?.hasError('required')">Empfänger ist erforderlich</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="rest">
          <mat-label>Postleitzahl</mat-label>
          <input matInput formControlName="postleitzahl"required />
          <mat-error *ngIf="rechnungAddress.get('postleitzahl')?.hasError('required')">Postleitzahl ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field class="rest">
          <mat-label>Stadt</mat-label>
             <input matInput formControlName="stadt" required />
          <mat-error *ngIf="rechnungAddress.get('stadt')?.hasError('required')">Stadt ist erforderlich</mat-error>
           </mat-form-field>
        <mat-form-field class="rest">
          <mat-label>Land</mat-label>
          <input matInput formControlName="land" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="(shippingAddres.valid && rechnungAddress.invalid && !isRechnungAddress) || shippingAddres.valid && rechnungAddress.valid" ><button mat-raised-button color="primary" (click)="makeBestellung()">Bestellen</button></div>
  <div class="row" *ngIf="shippingAddres.invalid || (rechnungAddress.invalid && isRechnungAddress)" ><button mat-raised-button (click)="makeBestellung()" disabled>Bestellen</button></div>
</div>
