.add-edit-product {
  display: flex;
  padding: .5rem .5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.product-details {
  display: flex;
  flex-direction: row;
  margin-left: .5rem;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 400px;
  .image {
    height: 400px;
    width: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit:fill;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: .5rem;
  }
}

input[type=file] {
  width: 80%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #095824;
  height: 95%;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #095824;
}
.form-group {
  margin-bottom: 20px;
}
.image-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  gap: .4rem;
  width: 99%;
  mat-form-field {
    flex: 1;
  }
  .imginput {
    flex: 1;
    .upload {
      display: flex;
      gap: .1rem;
      height: inherit;
    }

    .upload-btn {
      margin-top: .2rem;
    }
    .progress-bar {
      margin-top: .1rem;
    }
  }
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.color {
  display: flex;
  flex-direction: column;


  .colors {
    display: flex;
    flex-wrap:wrap;
    width: 20rem;

    gap: .2rem;
  }
}
.h2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.imageItem {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: .5rem .5rem;
}
.ean {
  display: flex;
  gap: .4rem;
  align-items: center;
}
.delete-btn {
  cursor: pointer;
}
.eancon {
  display: flex;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 95%;
}
.verfug {
  width: 33%;
  margin-top: .7rem;
}

