.add-edit-product {
  display: flex;
  padding: .5rem .5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.product-details {
  display: flex;
  flex-direction: row;
  margin-left: .5rem;
}

.product-image {
  width: 50%;
  height: 400px;
  .image {
    height: 80%;
    flex: 1;
    img {
      flex: 1;
      height: 100%;
    }
  }

  .images {
    display: flex;

  }
}

.form-group {
  margin-bottom: 20px;
}
.image-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  gap: .4rem;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: .5rem;
}
.color {
  display: flex;
  flex-direction: column;


  .colors {
    display: flex;
    flex-wrap:wrap;
    width: 20rem;

    gap: .2rem;
  }
}
.h2 {
  text-align: center;
}
