<div>
  <h2>{{ data ? 'Produkt bearbeiten' : 'Produkt hinzufügen' }}</h2>
</div>
<div class="add-edit-product">
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <div class="product-details">
          <div class="product-image">
            <img [src]="" alt="Product Image">
          </div>
          <div class="image-right">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="text" id="name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Beschreibung</mat-label>
              <textarea matInput id="beschreibung" formControlName="beschreibung" required></textarea>
            </mat-form-field>

          <mat-form-field>
              <mat-label>Kategorie</mat-label>
              <input matInput type="text" id="kategorie" formControlName="kategorie" required>
            </mat-form-field>
          </div>
        </div>
      <div class="row" >
        <mat-form-field>
          <mat-label>Preis</mat-label>
          <input matInput type="number" id="preis" formControlName="preis" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Lieferant</mat-label>
          <input matInput type="text" id="lieferant" formControlName="lieferant" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Lagerorte</mat-label>
          <input matInput type="text" id="lagerorte" formControlName="lagerorte" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bestellungen</mat-label>
          <input matInput type="text" id="bestellungen" formControlName="bestellungen" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Datum Hinzugefügt</mat-label>
          <input matInput type="text" id="datumHinzugefuegt" formControlName="datumHinzugefuegt" required>
        </mat-form-field>

        <mat-checkbox id="verfgbarkeit" formControlName="verfgbarkeit">Verfügbarkeit</mat-checkbox>

        <mat-form-field>
          <mat-label>Mindestmenge</mat-label>
          <input matInput type="number" id="mindestmenge" formControlName="mindestmenge" required>
        </mat-form-field>

        <mat-checkbox id="aktion" formControlName="aktion">Aktion</mat-checkbox>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Verkaufte Anzahl</mat-label>
          <input matInput type="number" id="verkaufteAnzahl" formControlName="verkaufteAnzahl">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Wareneingang</mat-label>
          <input matInput type="text" id="wareneingang" formControlName="wareneingang" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Warenausgang</mat-label>
          <input matInput type="text" id="warenausgang" formControlName="warenausgang" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mehrwertsteuer</mat-label>
          <input matInput type="number" id="mehrwehrsteuer" formControlName="mehrwehrsteuer" required>
        </mat-form-field>
      </div>
      <div class="row" >
        <mat-form-field>
          <mat-label>Promocje</mat-label>
          <input matInput type="text" id="promocje" formControlName="promocje" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Reservation</mat-label>
          <input matInput type="text" id="reservation" formControlName="reservation" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bewertung</mat-label>
          <input matInput type="text" id="bewertung" formControlName="bewertung" required>
        </mat-form-field>
      </div>
      <div class="button" >
        <button mat-button type="submit">Speichern</button>
        <button mat-button type="button" (click)="cancel()">Abbrechen</button>
      </div>
</form>
</div>
